<!-- Informacion Personal y Profesional-->
<section>
    <div id="info" class="container-fluid">
        <div class="row pt-5 pb-5">
            <div class="col-sm-6">
                <app-image-profile></app-image-profile>
            </div>

            <div class="col-sm-6 info-container d-flex align-items-center">
                <div 
                    class="info-text">
                    <app-info-text></app-info-text>
                </div>
            </div>
        </div>
    </div>
</section>
         
    

