<section id="Navegacion">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div id="items" class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/argentina-programa.png" class="logo" alt="Logo Argentina Programa">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <div class="social-links">
                        <a href=""><fa-icon class="social-icon" [icon]="faFacebook"></fa-icon></a>
                    
                        <a href=""><fa-icon class="social-icon" [icon]="faLinkedin"></fa-icon></a>
                   
                        <a href=""><fa-icon class="social-icon" [icon]="faGithub"></fa-icon></a>
                 
                        <a href=""><fa-icon class="social-icon" [icon]="faInstagram"></fa-icon></a>
    
                        <button id="login" class="btn btn-outline-success text-white" type="submit">Login</button>
                        

                        <!-- Boton para cabiar a Dark Theme-->
                        <button 
                            id="switch" 
                            class="btn btn-light" 
                            type="submit"
                            (click)="sendClickEvent()"
                            >    
                            Switch Mode
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</section>

<!-- Contenedor para el Banner-->
<div class="d-flex align-items-center banner" id="banner">
    <div class="container-fluid">
        <p id="banner-name">Soy <span>Maximiliano.</span></p>
        <p id="banner-text">Bienvenidos a mi portfolio</p>
    </div>
</div>
